.card {
    display: inline-block;
    width: 25%;
    border: none;
    margin: 0 auto ;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.title {
    font-family: 'Anton', sans-serif;
    width: 50%;
}
h5 {
  margin-left: 35px ;
  font-size: 40px ;
  border-radius : 10px ;
  border-color: black ;
  border-style: solid;
  padding-left: 10px ;
  padding-top: 10px;
  padding-bottom:10px ;
}
.jumbotron  {
    background-color: red ;
}